@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;

  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  /* --c1: rgba(168, 239, 255, 1); */
  /* --c1: #45c2cc;
  --c2: #ffffff; */
  --c1: #45c2cc;
  --c2: #ffffff;
  --c3: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


/* Headings */
/* h1 {
  @apply text-[64px] leading-[80px] font-bold;
}

h2 {
  @apply text-[50px] leading-[65px] font-semibold;
}

h3 {
  @apply text-[36px] leading-[45px] font-semibold;
}

h4 {
  @apply text-[30px] leading-[40px] font-medium;
}

h5 {
  @apply text-[24px] leading-[28px] font-medium;
}

h6 {
  @apply text-[20px] leading-[24px] font-medium;
} */

/* Body Text Styles */
/* .p-large-bold {
  @apply text-[24px] leading-[32px] font-bold;
}

.p-large {
  @apply text-[24px] leading-[32px] font-normal;
}

.p-medium-bold {
  @apply text-[20px] leading-[28px] font-bold;
}

.p-medium {
  @apply text-[20px] leading-[28px] font-normal;
}

.p-normal-bold {
  @apply text-[18px] leading-[26px] font-bold;
}

.p-normal {
  @apply text-[18px] leading-[26px] font-normal;
}

.p-small-bold {
  @apply text-[16px] leading-[20px] font-bold;
}

.p-small {
  @apply text-[16px] leading-[20px] font-normal;
}

.p-xsmall-bold {
  @apply text-[14px] leading-[22px] font-bold;
}

.p-xsmall {
  @apply text-[14px] leading-[22px] font-normal;
} */
